BugReports
Games
HostFiles
.DS_Store
.env
.vscode/settings.json
.idea/

composer.phar
composer.lock
vendor/

.phpunit.result.cache

.htaccess
Utils/LeaderImages/
Utils/jpg/
user_ip_log.txt
APIKeys/APIKeys.php
sim_harness/data/backups/
sim_harness/data/decks.backup-*.json
